In [1]:
#Two-Dimentional Data in Numpy and Pandas
import pandas as pd
import numpy as np
import seaborn as sns

## Two-Dimensional Numpy Arrays

In [3]:
# Subway ridership for 5 stations on 10 different days
ridership = np.array([
    [   0,    0,    2,    5,    0],
    [1478, 3877, 3674, 2328, 2539],
    [1613, 4088, 3991, 6461, 2691],
    [1560, 3392, 3826, 4787, 2613],
    [1608, 4802, 3932, 4477, 2705],
    [1576, 3933, 3909, 4979, 2685],
    [  95,  229,  255,  496,  201],
    [   2,    0,    1,   27,    0],
    [1438, 3785, 3589, 4174, 2215],
    [1342, 4043, 4009, 4665, 3033]
])

In [4]:
# Accessing elements
if True:
    print ridership[1, 3]
    print ridership[1:3, 3:5]
    print ridership[1, :]

2328
[[2328 2539]
 [6461 2691]]
[1478 3877 3674 2328 2539]

In [5]:
# Vectorized operations on rows or columns
if True:
    print ridership[0, :] + ridership[1, :]
    print ridership[:, 0] + ridership[:, 1]

[1478 3877 3676 2333 2539]
[   0 5355 5701 4952 6410 5509  324    2 5223 5385]

In [7]:
# Vectorized operations on entire arrays
if True:
    a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
    b = np.array([[1, 1, 1], [2, 2, 2], [3, 3, 3]])
    print a + b

[[ 2  3  4]
 [ 6  7  8]
 [10 11 12]]

In [ ]:
#####################################
#                 3                 #
#####################################
'''
Fill in this function to find the station with the maximum riders on the
first day, then return the mean riders per day for that station. Also
return the mean ridership overall for comparsion.

Hint: NumPy's argmax() function might be useful:
http://docs.scipy.org/doc/numpy/reference/generated/numpy.argmax.html
'''

In [21]:
def mean_riders_for_max_station(ridership):    
    #Find the station with the maximum riders on the first day
    max_station = ridership[0, :].argmax()

    #Find the mean riders per dayfor that station
    mean_for_max = ridership[:, max_station].mean()
    
    #Find the mean ridership overall for comparison
    overall_mean = ridership.mean()
    
    return (overall_mean, mean_for_max)

In [22]:
mean_riders_for_max_station(ridership)

(2342.5999999999999, 3239.9000000000001)

## Numpy Axis

In [24]:
# NumPy axis argument
if True:
    a = np.array([
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
    ])
    
    print a.sum()
    print a.sum(axis=0)
    print a.sum(axis=1)

45
[12 15 18]
[ 6 15 24]

In [25]:
# Subway ridership for 5 stations on 10 different days
ridership = np.array([
    [   0,    0,    2,    5,    0],
    [1478, 3877, 3674, 2328, 2539],
    [1613, 4088, 3991, 6461, 2691],
    [1560, 3392, 3826, 4787, 2613],
    [1608, 4802, 3932, 4477, 2705],
    [1576, 3933, 3909, 4979, 2685],
    [  95,  229,  255,  496,  201],
    [   2,    0,    1,   27,    0],
    [1438, 3785, 3589, 4174, 2215],
    [1342, 4043, 4009, 4665, 3033]
])

In [26]:
#####################################
#                 4                 #
#####################################
'''
Fill in this function. First, for each subway station, calculate the
mean ridership per day. Then, out of all the subway stations, return the
maximum and minimum of these values. That is, find the maximum
mean-ridership-per-day and the minimum mean-ridership-per-day for any
subway station.
'''

'\nFill in this function. First, for each subway station, calculate the\nmean ridership per day. Then, out of all the subway stations, return the\nmaximum and minimum of these values. That is, find the maximum\nmean-ridership-per-day and the minimum mean-ridership-per-day for any\nsubway station.\n'

In [30]:
def min_and_max_riders_per_day(ridership):
    station_riders = ridership.mean(axis=0)


    max_daily_ridership = mean_riders_station.max()
    min_daily_ridership = mean_riders_station.min()
    
    return (max_daily_ridership, min_daily_ridership)

In [32]:
min_and_max_riders_per_day(ridership)

(3239.9000000000001, 1071.2)

## Accessing Elements of a DataFrame

In [82]:
# Subway ridership for 5 stations on 10 different days
ridership_df = pd.DataFrame(
    data=[[   0,    0,    2,    5,    0],
          [1478, 3877, 3674, 2328, 2539],
          [1613, 4088, 3991, 6461, 2691],
          [1560, 3392, 3826, 4787, 2613],
          [1608, 4802, 3932, 4477, 2705],
          [1576, 3933, 3909, 4979, 2685],
          [  95,  229,  255,  496,  201],
          [   2,    0,    1,   27,    0],
          [1438, 3785, 3589, 4174, 2215],
          [1342, 4043, 4009, 4665, 3033]],
    index=['05-01-11', '05-02-11', '05-03-11', '05-04-11', '05-05-11',
           '05-06-11', '05-07-11', '05-08-11', '05-09-11', '05-10-11'],
    columns=['R003', 'R004', 'R005', 'R006', 'R007']
)

In [83]:
# DataFrame creation
if True:
    # You can create a DataFrame out of a dictionary mapping column names to values
    df_1 = pd.DataFrame({'A': [0, 1, 2], 'B': [3, 4, 5]})
    print df_1

    # You can also use a list of lists or a 2D NumPy array
    df_2 = pd.DataFrame([[0, 1, 2], [3, 4, 5]], columns=['A', 'B', 'C'])
    print df_2

   A  B
0  0  3
1  1  4
2  2  5
   A  B  C
0  0  1  2
1  3  4  5

In [84]:
# Accessing elements
if True:
    print ridership_df.iloc[0]
    print ridership_df.loc['05-05-11']
    print ridership_df['R003']
    print ridership_df.iloc[1, 3]

R003    0
R004    0
R005    2
R006    5
R007    0
Name: 05-01-11, dtype: int64
R003    1608
R004    4802
R005    3932
R006    4477
R007    2705
Name: 05-05-11, dtype: int64
05-01-11       0
05-02-11    1478
05-03-11    1613
05-04-11    1560
05-05-11    1608
05-06-11    1576
05-07-11      95
05-08-11       2
05-09-11    1438
05-10-11    1342
Name: R003, dtype: int64
2328

In [85]:
# Accessing multiple rows
if True:
    print ridership_df.iloc[1:4]

          R003  R004  R005  R006  R007
05-02-11  1478  3877  3674  2328  2539
05-03-11  1613  4088  3991  6461  2691
05-04-11  1560  3392  3826  4787  2613

In [86]:
# Accessing multiple columns
if True:
    print ridership_df[['R003', 'R005']]

          R003  R005
05-01-11     0     2
05-02-11  1478  3674
05-03-11  1613  3991
05-04-11  1560  3826
05-05-11  1608  3932
05-06-11  1576  3909
05-07-11    95   255
05-08-11     2     1
05-09-11  1438  3589
05-10-11  1342  4009

In [87]:
# Pandas axis
if True:
    df = pd.DataFrame({'A': [0, 1, 2], 'B': [3, 4, 5]})
    print df.sum()
    print df.sum(axis=1)
    print df.values.sum()

A     3
B    12
dtype: int64
0    3
1    5
2    7
dtype: int64
15

In [88]:
#####################################
#                 6                 #
#####################################
'''
Fill in this function to find the station with the maximum riders on the
first day, then return the mean riders per day for that station. Also
return the mean ridership overall for comparsion.

This is the same as a previous exercise, but this time the
input is a Pandas DataFrame rather than a 2D NumPy array.
'''

'\nFill in this function to find the station with the maximum riders on the\nfirst day, then return the mean riders per day for that station. Also\nreturn the mean ridership overall for comparsion.\n\nThis is the same as a previous exercise, but this time the\ninput is a Pandas DataFrame rather than a 2D NumPy array.\n'

In [128]:
def mean_riders_for_max_station(ridership):
    #Find the station with the maximum riders on the first day
    max_station = ridership.iloc[0].argmax()
    
    #Find the mean riders per day for that station
    mean_for_max = ridership[max_station].mean()
    
    #Find the mean ridership overall for comparison
    overall_mean = ridership.values.mean()
    
    return (overall_mean, mean_for_max)

In [132]:
mean_riders_for_max_station(ridership_df)

(2342.5999999999999, 3239.9000000000001)

## Calculating Correlation

In [120]:
filename = 'P3L5_Datasets/nyc_subway_weather.csv'
subway_df = pd.read_csv(filename)

In [122]:
#####################################
#                 8                 #
#####################################
'''
Fill in this function to compute the correlation between the two
input variables. Each input is either a NumPy array or a Pandas
Series.

correlation = average of (x in standard units) times (y in standard units)

Remember to pass the argument "ddof=0" to the Pandas std() function!
'''

'\nFill in this function to compute the correlation between the two\ninput variables. Each input is either a NumPy array or a Pandas\nSeries.\n\ncorrelation = average of (x in standard units) times (y in standard units)\n\nRemember to pass the argument "ddof=0" to the Pandas std() function!\n'

In [134]:
subway_df = pd.read_csv('P3L5_Datasets/nyc_subway_weather.csv')

In [138]:
def correlation(x, y):
    std_x = (x - x.mean()) / x.std(ddof=0)
    std_y = (y - y.mean()) / y.std(ddof=0)
    
    return (std_x * std_y).mean()
    return None

entries = subway_df['ENTRIESn_hourly']
cum_entries = subway_df['ENTRIESn']
rain = subway_df['meanprecipi']
temp = subway_df['meantempi']

print correlation(entries, rain)
print correlation(entries, temp)
print correlation(rain, temp)

print correlation(entries, cum_entries)

0.0356485157722
-0.0266933483216
-0.229034323408
0.585895470766

In [139]:
correlation(subway_df['ENTRIESn_hourly'],subway_df['meanprecipi'])

0.035648515772244052

In [140]:
correlation(subway_df['ENTRIESn_hourly'],subway_df['ENTRIESn'])

0.58589547076620752

## DataFrame Vectorized Operations

In [151]:
# Adding DataFrames with the column names
if True:
    df1 = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6], 'c': [7, 8, 9]})
    df2 = pd.DataFrame({'a': [10, 20, 30], 'b': [40, 50, 60], 'c': [70, 80, 90]})
    print df1 + df2

    a   b   c
0  11  44  77
1  22  55  88
2  33  66  99

In [152]:
# Adding DataFrames with overlapping column names 
if True:
    df1 = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6], 'c': [7, 8, 9]})
    df2 = pd.DataFrame({'d': [10, 20, 30], 'c': [40, 50, 60], 'b': [70, 80, 90]})
    print df1 + df2

    a   b   c   d
0 NaN  74  47 NaN
1 NaN  85  58 NaN
2 NaN  96  69 NaN

In [144]:
# Adding DataFrames with overlapping row indexes
if True:
    df1 = pd.DataFrame({'a': [1, 2, 3], 'b': [4, 5, 6], 'c': [7, 8, 9]},
                       index=['row1', 'row2', 'row3'])
    df2 = pd.DataFrame({'a': [10, 20, 30], 'b': [40, 50, 60], 'c': [70, 80, 90]},
                       index=['row4', 'row3', 'row2'])
    print df1 + df2

         a     b     c
row1   NaN   NaN   NaN
row2  32.0  65.0  98.0
row3  23.0  56.0  89.0
row4   NaN   NaN   NaN

In [147]:
#####################################
#                 10                #
#####################################
'''
Fill in this function to take a DataFrame with cumulative entries
and exits (entries in the first column, exits in the second) and
return a DataFrame with hourly entries and exits (entries in the
first column, exits in the second).
'''

'\nFill in this function to take a DataFrame with cumulative entries\nand exits (entries in the first column, exits in the second) and\nreturn a DataFrame with hourly entries and exits (entries in the\nfirst column, exits in the second).\n'

In [150]:
# Cumulative entries and exits for one station for a few hours.
entries_and_exits = pd.DataFrame({
    'ENTRIESn': [3144312, 3144335, 3144353, 3144424, 3144594,
                 3144808, 3144895, 3144905, 3144941, 3145094],
    'EXITSn': [1088151, 1088159, 1088177, 1088231, 1088275,
               1088317, 1088328, 1088331, 1088420, 1088753]
})

In [159]:
def get_hourly_entries_and_exits(entries_and_exits): 
    return entries_and_exits - entries_and_exits.shift(1)

In [160]:
get_hourly_entries_and_exits(entries_and_exits)

   ENTRIESn  EXITSn
0       NaN     NaN
1      23.0     8.0
2      18.0    18.0
3      71.0    54.0
4     170.0    44.0
5     214.0    42.0
6      87.0    11.0
7      10.0     3.0
8      36.0    89.0
9     153.0   333.0

## DataFrame applymap()

In [166]:
# DataFrame applymap()
if True:
    df = pd.DataFrame({
        'a': [1, 2, 3],
        'b': [10, 20, 30],
        'c': [5, 10, 15]
    })
    
    def add_one(x):
        return x + 1
        
    print df.applymap(add_one)

   a   b   c
0  2  11   6
1  3  21  11
2  4  31  16

In [175]:
grades_df = pd.DataFrame(
    data={'exam1': [43, 81, 78, 75, 89, 70, 91, 65, 98, 87],
          'exam2': [24, 63, 56, 56, 67, 51, 79, 46, 72, 60]},
    index=['Andre', 'Barry', 'Chris', 'Dan', 'Emilio', 
           'Fred', 'Greta', 'Humbert', 'Ivan', 'James']
)

In [176]:
#####################################
#                 11                #
#####################################
'''
Fill in this function to convert the given DataFrame of numerical
grades to letter grades. Return a new DataFrame with the converted
grade.

The conversion rule is:
    90-100 -> A
    80-89  -> B
    70-79  -> C
    60-69  -> D
    0-59   -> F
'''

'\nFill in this function to convert the given DataFrame of numerical\ngrades to letter grades. Return a new DataFrame with the converted\ngrade.\n\nThe conversion rule is:\n    90-100 -> A\n    80-89  -> B\n    70-79  -> C\n    60-69  -> D\n    0-59   -> F\n'

In [205]:
def convert_grades(grade):
    if grade >= 90:
        return 'A'
    elif grade >= 80:
        return 'B'
    elif grade >= 70:
        return 'C'
    elif grade >= 60:
        return 'D'
    else:
        return 'F'

In [206]:
convert_grades(79)

'C'

In [212]:
def convert_grades(grades):
    return grades.applymap(convert_grades)

In [208]:
convert_grades(grades_df)

AttributeError: ("'int' object has no attribute 'applymap'", u'occurred at index exam1')