## Titanic Data Investigation
### Question: What affected passengers' survival rate?

In [282]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import unicodecsv as csv

In [265]:
# Load titanic data from csv

def read_csv(filename):
    with open(filename, 'rb') as f:
        reader = csv.DictReader(f)
        return list(reader)

titanic = read_csv('P3Project_Datasets/titanic-data.csv')

In [266]:
titanic[0]

{u'Age': u'22',
 u'Cabin': u'',
 u'Embarked': u'S',
 u'Fare': u'7.25',
 u'Name': u'Braund, Mr. Owen Harris',
 u'Parch': u'0',
 u'PassengerId': u'1',
 u'Pclass': u'3',
 u'Sex': u'male',
 u'SibSp': u'1',
 u'Survived': u'0',
 u'Ticket': u'A/5 21171'}

In [267]:
# If i is empty, return none. else return an int
def parse_maybe_int(i):
#    if i == '':
#        return None
#        print("hi there is an ''.") # To test if the empty string loop in here
#    else:
        try:
            return int(i)
        except:
            None
            
def parse_maybe_float(i):
        try:
            return float(i)
        except:
            None


# Clean up the data types in the titanic table
for titanic2 in titanic:
    titanic2['Age'] = parse_maybe_int(titanic2['Age'])
    titanic2['Fare'] = parse_maybe_float(titanic2['Fare'])
    titanic2['Parch'] = parse_maybe_int(titanic2['Parch'])
    titanic2['Pclass'] = parse_maybe_int(titanic2['Pclass'])
    titanic2['SibSp'] = parse_maybe_int(titanic2['SibSp'])
    titanic2['Survived'] = parse_maybe_int(titanic2['Survived'])
    
titanic[0]

{u'Age': 22,
 u'Cabin': u'',
 u'Embarked': u'S',
 u'Fare': 7.25,
 u'Name': u'Braund, Mr. Owen Harris',
 u'Parch': 0,
 u'PassengerId': u'1',
 u'Pclass': 3,
 u'Sex': u'male',
 u'SibSp': 1,
 u'Survived': 0,
 u'Ticket': u'A/5 21171'}

In [272]:
# Convert to Data Frame
titanic_df = pd.DataFrame(titanic)

In [273]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
Age            689 non-null float64
Cabin          891 non-null object
Embarked       891 non-null object
Fare           891 non-null float64
Name           891 non-null object
Parch          891 non-null int64
PassengerId    891 non-null object
Pclass         891 non-null int64
Sex            891 non-null object
SibSp          891 non-null int64
Survived       891 non-null int64
Ticket         891 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 83.6+ KB

In [283]:
titanic_df.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1,PC 17599
2,26.0,,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1,113803
4,35.0,,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0,373450

In [320]:
titanic_not_survived = titanic_df.query("Survived == 0")
titanic_survived = titanic_df.query("Survived == 1")
titanic_by_age = titanic.survived.groupby('PassengerId')['Age'].count()

%pylab inline
titanic_survived.Age.plot()

AttributeError: 'list' object has no attribute 'survived'

In [281]:
# Caliculate correlations between data

def correlation(x, y):
    std_x = (x - x.mean()) / x.std(ddof=0)
    std_y = (y - y.mean()) / y.std(ddof=0)
    
    return (std_x * std_y).mean()
    return None

survived = titanic_df['Survived']
age = titanic_df['Age']
fare = titanic_df['Fare']
parch = titanic_df['Parch']
pclass = titanic_df['Pclass']
sibsp = titanic_df['SibSp']

print 'Correlation between survived and age is'
print correlation(survived,age)
print 'Correlation between survived and fare is'
print correlation(survived,fare)
print 'Correlation between survived and parch is'
print correlation(survived,parch)
print 'Correlation between survived and pclass is'
print correlation(survived,pclass)
print 'Correlation between survived and sibsp is'
print correlation(survived,sibsp)

Correlation between survived and age is
-0.0490247962317
Correlation between survived and fare is
0.257306522385
Correlation between survived and parch is
0.0816294070835
Correlation between survived and pclass is
-0.338481035961
Correlation between survived and sibsp is
-0.0353224988857

### Finding1: There might be a positive correlation between survived and fare.

### Finding2: There might be a negative correlation between survived and pclass.

### Conclusion: According to the data, chances to survive were higher for passengers with higher fare and pclass.