In [15]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import unicodecsv as csv

In [28]:
# Load titanic data from csv

def read_csv(filename):
    with open(filename, 'rb') as f:
        reader = csv.DictReader(f)
        return list(reader)

titanic = read_csv('P3Project_Datasets/titanic-data.csv')

In [42]:
titanic[0]

{u'Age': u'22',
 u'Cabin': u'',
 u'Embarked': u'S',
 u'Fare': u'7.25',
 u'Name': u'Braund, Mr. Owen Harris',
 u'Parch': u'0',
 u'PassengerId': u'1',
 u'Pclass': u'3',
 u'Sex': u'male',
 u'SibSp': u'1',
 u'Survived': u'0',
 u'Ticket': u'A/5 21171'}

In [44]:
# If i is empty, return none. else return an int
def parse_maybe_int(i):
    if i == '':
        return None
    else:
        return int(i)

# Clean up the data types in the titanic table
titanic['Age'] = parse_maybe_int(titanic['Age'])

TypeError: list indices must be integers, not str

In [33]:
# Convert to Data Frame

titanic_df = pd.DataFrame(titanic)

In [35]:
titanic_df

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22,,S,7.25,"Braund, Mr. Owen Harris",0,1,3,male,1,0,A/5 21171
1,38,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1,PC 17599
2,26,,S,7.925,"Heikkinen, Miss. Laina",0,3,3,female,0,1,STON/O2. 3101282
3,35,C123,S,53.1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1,113803
4,35,,S,8.05,"Allen, Mr. William Henry",0,5,3,male,0,0,373450
5,,,Q,8.4583,"Moran, Mr. James",0,6,3,male,0,0,330877
6,54,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,7,1,male,0,0,17463
7,2,,S,21.075,"Palsson, Master. Gosta Leonard",1,8,3,male,3,0,349909
8,27,,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,female,0,1,347742
9,14,,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,female,1,1,237736
10,4,G6,S,16.7,"Sandstrom, Miss. Marguerite Rut",1,11,3,female,1,1,PP 9549
11,58,C103,S,26.55,"Bonnell, Miss. Elizabeth",0,12,1,female,0,1,113783
12,20,,S,8.05,"Saundercock, Mr. William Henry",0,13,3,male,0,0,A/5. 2151
13,39,,S,31.275,"Andersson, Mr. Anders Johan",5,14,3,male,1,0,347082
14,14,,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,female,0,0,350406
15,55,,S,16,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,female,0,1,248706
16,2,,Q,29.125,"Rice, Master. Eugene",1,17,3,male,4,0,382652
17,,,S,13,"Williams, Mr. Charles Eugene",0,18,2,male,0,1,244373
18,31,,S,18,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,female,1,0,345763
19,,,C,7.225,"Masselmani, Mrs. Fatima",0,20,3,female,0,1,2649
20,35,,S,26,"Fynney, Mr. Joseph J",0,21,2,male,0,0,239865
21,34,D56,S,13,"Beesley, Mr. Lawrence",0,22,2,male,0,1,248698
22,15,,Q,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,3,female,0,1,330923
23,28,A6,S,35.5,"Sloper, Mr. William Thompson",0,24,1,male,0,1,113788
24,8,,S,21.075,"Palsson, Miss. Torborg Danira",1,25,3,female,3,0,349909
25,38,,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,female,1,1,347077
26,,,C,7.225,"Emir, Mr. Farred Chehab",0,27,3,male,0,0,2631
27,19,C23 C25 C27,S,263,"Fortune, Mr. Charles Alexander",2,28,1,male,3,0,19950
28,,,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,female,0,1,330959
29,,,S,7.8958,"Todoroff, Mr. Lalio",0,30,3,male,0,0,349216
...,...,...,...,...,...,...,...,...,...,...,...,...
861,21,,S,11.5,"Giles, Mr. Frederick Edward",0,862,2,male,1,0,28134
862,48,D17,S,25.9292,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,863,1,female,0,1,17466
863,,,S,69.55,"Sage, Miss. Dorothy Edith ""Dolly""",2,864,3,female,8,0,CA. 2343
864,24,,S,13,"Gill, Mr. John William",0,865,2,male,0,0,233866
865,42,,S,13,"Bystrom, Mrs. (Karolina)",0,866,2,female,0,1,236852
866,27,,C,13.8583,"Duran y More, Miss. Asuncion",0,867,2,female,1,1,SC/PARIS 2149
867,31,A24,S,50.4958,"Roebling, Mr. Washington Augustus II",0,868,1,male,0,0,PC 17590
868,,,S,9.5,"van Melkebeke, Mr. Philemon",0,869,3,male,0,0,345777
869,4,,S,11.1333,"Johnson, Master. Harold Theodor",1,870,3,male,1,1,347742
870,26,,S,7.8958,"Balkic, Mr. Cerin",0,871,3,male,0,0,349248
871,47,D35,S,52.5542,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,872,1,female,1,1,11751
872,33,B51 B53 B55,S,5,"Carlsson, Mr. Frans Olof",0,873,1,male,0,0,695
873,47,,S,9,"Vander Cruyssen, Mr. Victor",0,874,3,male,0,0,345765
874,28,,C,24,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,875,2,female,1,1,P/PP 3381
875,15,,C,7.225,"Najib, Miss. Adele Kiamie ""Jane""",0,876,3,female,0,1,2667
876,20,,S,9.8458,"Gustafsson, Mr. Alfred Ossian",0,877,3,male,0,0,7534
877,19,,S,7.8958,"Petroff, Mr. Nedelio",0,878,3,male,0,0,349212
878,,,S,7.8958,"Laleff, Mr. Kristo",0,879,3,male,0,0,349217
879,56,C50,C,83.1583,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,880,1,female,0,1,11767
880,25,,S,26,"Shelley, Mrs. William (Imanita Parrish Hall)",1,881,2,female,0,1,230433
881,33,,S,7.8958,"Markun, Mr. Johann",0,882,3,male,0,0,349257
882,22,,S,10.5167,"Dahlberg, Miss. Gerda Ulrika",0,883,3,female,0,0,7552
883,28,,S,10.5,"Banfield, Mr. Frederick James",0,884,2,male,0,0,C.A./SOTON 34068
884,25,,S,7.05,"Sutehall, Mr. Henry Jr",0,885,3,male,0,0,SOTON/OQ 392076
885,39,,Q,29.125,"Rice, Mrs. William (Margaret Norton)",5,886,3,female,0,0,382652
886,27,,S,13,"Montvila, Rev. Juozas",0,887,2,male,0,0,211536
887,19,B42,S,30,"Graham, Miss. Margaret Edith",0,888,1,female,0,1,112053
888,,,S,23.45,"Johnston, Miss. Catherine Helen ""Carrie""",2,889,3,female,1,0,W./C. 6607
889,26,C148,C,30,"Behr, Mr. Karl Howell",0,890,1,male,0,1,111369
890,32,,Q,7.75,"Dooley, Mr. Patrick",0,891,3,male,0,0,370376

In [27]:
# Check correlations to investigate data

def correlation(x, y):
    std_x = (x - x.mean()) / x.std(ddof=0)
    std_y = (y - y.mean()) / y.std(ddof=0)
    
    return (std_x * std_y).mean()
    return None

survived = titanic_df['Survived']
age = titanic_df['Age']
cabin = titanic_df['Cabin']
embarked = titanic_df['Embarked']
fare = titanic_df['Fare']
parch = titanic_df['Parch']
pclass = titanic_df['Pclass']
sex = titanic_df['Sex']
sibsp = titanic_df['SibSp']

print correlation(survived,age)
print correlation(survived,cabin)
print correlation(survived,embarked)
print correlation(survived,fare)
print correlation(survived,parch)
print correlation(survived,pclass)
print correlation(survived,sex)
print correlation(survived,sibsp)

TypeError: ufunc 'subtract' did not contain a loop with signature matching types dtype('<U32') dtype('<U32') dtype('<U32')